{% import 'macros/form.html' as form %}

{%- macro attributes(attrs={}) -%}
  {%- for key, value in attrs.items() -%}
  {{ " " }}{{ key }}{% if value != "" %}="{{ value }}"{% endif %}
  {%- endfor -%}
{%- endmacro -%}

{% macro input_block(for, label="", error="", classes=[], control_classes=[], extra_html="", is_required=false) %}
  <div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
    <label class="control-label" for="{{ for }}">{% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}{{ label or _('Custom') }}</label>
    <div class="controls{{ " " ~ control_classes | join(' ') }}">
      {{ caller() }}
      {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
      {{ extra_html }}
    </div>
  </div>
{% endmacro %}


{% macro select(name, id='', label='', options='', selected='', error='', classes=[], attrs={}, is_required=false, help='', multiple=False, additional_module=None) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
      <select class="select" placeholder="{{ placeholder }}" name="{{ name }}" {{ attributes(attrs) }} {% if multiple %}multiple{% endif %} {% if additional_module %}data-module="{{ additional_module }}"{% endif %}>
      {% for option in options %}
        {% if multiple %}
            {% set is_selected = option.value in selected if selected is sequence else option.value == selected %}
        {% else %}
            {% set is_selected = option.value == selected %}
        {% endif %}

        <option value="{{ option.value }}"{% if is_selected %} selected{% endif %}>{{ option.depth_str|safe }}{{ option.text or option.value }}</option>
      {% endfor %}
    </select>
    
  {% endcall %}
{% endmacro %}


{% macro agrovoc(name, id, label, options='', selected='', error='', classes='', attrs={}, is_required=False, help='', multiple=False, additional_module=None) %}

  {% set classes = (classes|list) %}
  {% do classes.append('control-select') %}

  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}

      <input class="input" placeholder="{{ placeholder }}" name="{{ name }}" {{ attributes(attrs) }} {% if multiple %}multiple="true"{% endif %} {% if additional_module %}data-module="{{ additional_module }}"{% endif %} data-value="{{ ','.join(selected or []) }}" value="{{ ','.join( options ) }}"/>
    
  {% endcall %}


{% endmacro %}
