<div class="fao-about-container">
    <div class="fao-about-img">
        <div class="fao-about-thumbnail"></div>
    </div>
    <div class="fao-about-desc">
        <p>{% trans %}The Food and Agriculture Organization (FAO) is specialized agency of the United Nations that leads international efforts to defeat hunger. 
            Our goal is to achieve food security for all and make sure that people have regular access to enough high-quality food to lead active, healthy lives. With over 194 member states, FAO works in over 130 countries worldwide. We believe that everyone can play a part in ending hunger.{% endtrans %} </p>
        <p>{% trans %}Join us in creating a #ZeroHunger world.{% endtrans %}</p>
    </div>
</div>
