{# get groups. package_count will return groups with packages only, so we'll fall back to all groups if no package count is available #}
{% set groups = h.fao_get_action('group_list', {'limit': 4, 'all_fields': True, 'sort': 'package_count'}) or h.fao_get_action('group_list', {'limit': 4, 'all_fields': True}) %}

<div class="container-fluid box">
  <div class="row-fluid">
    <div class="col-xs-8">
      <h3 class="heading">{{ _('Groups') }}</h3>
    </div>
    <div class="col-xs-4">
      {% set groups_url=h.url_for('groups') %}
      <a href="{{ groups_url }}"><div class="fao-item-see-all">{{_('See all')}}</div></a>
    </div>
  </div>
  <div class="row-fluid">
  {% for group in groups %}
    <div class="col-lg-6 col-md-12 col-sm-12">
    {% set group_url=h.url_for('group_read', id=group.name) %}
      <div class="fao-item-summary fao-item-group">
        <a href="{{ group_url }}" class="fao-item-header">
          {% if (group.image_display_url)%}
          <div class="fao-item-thumbnail" style="background-image: url('{{ group.image_display_url }}')"></div>
          {% else %}
          <div class="fao-item-thumbnail" style="background-image: url('/base/images/placeholder-group.png')"></div>
          {% endif %}
          <div class="fao-item-title"><h3 title="{{ group.title }}">{{ h.truncate(group.title, length=45, whole_word=True) }}</h3></div>
          <div class="fao-item-body" >
            {% set dataset_count=group.package_count %}
            {% if (dataset_count == 0) %}
            <div class="fao-item-count">{% trans %}{{ dataset_count }} Dataset{% endtrans %}</div>
            {% else %}
            <div class="fao-item-count"><strong>{% trans %}{{ dataset_count }} Datasets{% endtrans %}</strong></div>
            {% endif %}
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
