<div class="container-fluid box fao-static-links-footer">
  <div class="row-fluid fao-footer-mafap-thumbnail">
    <div class="col-xs-12">
      <a href="http://www.fao.org/in-action/mafap/home/en/" target="_blank">
        <h3 class="text-primary">{% trans %}MAFAP{% endtrans %}</h3>
      </a>
    </div>
    <div class="col-xs-12">
      <p>
        <i>{% trans %}The Monitoring and Analysing Food and Agricultural Policies (MAFAP) programme seeks to establish country owned and
          sustainable systems to monitor, analyse, and reform food and agricultural policies to enable more effective, efficient
          and inclusive policy frameworks in a growing number of developing and emerging economies.{% endtrans %}
        </i>
      </p>
    </div>
  </div>
  <div class="row-fluid invert fao-footer-faostat-thumbnail">
    <div class="col-xs-12">
      <a href="http://www.fao.org/faostat/en/#home" target="_blank">
        <h3 class="text-primary">{% trans %}FAOSTAT{% endtrans %}</h3>
      </a>
    </div>
    <div class="col-xs-12">
      <p>
        <i>{% trans %}FAOSTAT provides free access to food and agriculture data for over 245 countries and territories and covers all FAO
          regional groupings from 1961 to the most recent year available.{% endtrans %}</i>
      </p>
    </div>
    <div class="col-xs-12">
    </div>
  </div>
  <div class="row-fluid invert fao-footer-acquastat-thumbnail">
    <div class="col-xs-12">
      <a href="http://www.fao.org/nr/water/aquastat/main/index.stm" target="_blank">
        <h3 class="text-primary">{% trans %}ACQUASTAT{% endtrans %}</h3>
      </a>
    </div>
    <div class="col-xs-12">
      <p>
        <i>{% trans %}AQUASTAT is FAO's global water information system, developed by the Land and Water Division. It is the most quoted
          source on global water statistics.{% endtrans %}</i>
      </p>
    </div>
  </div>
</div>