{% import 'macros/faociok_form_macros.html' as dform %}

{% for field in schema_fields %}
            {% if field.element == 'select' %}
            
                  {% set options = h.get_faociok_vocabulary_items(field.vocabulary_name) or field.options %}
                  
                  {% set selected = h.get_faociok_field_data(data[field.name], field) %}

                  {{ dform.select(field.name,
                                  label=field.label,
                                  options=options,
                                  selected=selected,
                                  error=errors[field.name],
                                  multiple=field.multiple,
                                  use_autocomplete=field.autocomplete,
                                  is_required=field.is_required) }}

            {% endif %}

{% endfor %}
