<section class="additional-info">
  <h3>{{ _('Dataset Metadata') }}</h3>

  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% set schema_fields = h.get_faociok_package_schema() %}
      {% set lang = h.lang() %}

      {% for field in schema_fields %}
        {% if field.name == 'fao_datatype' %}
          <tr>
            <th scope="row" class="dataset-label">{{ field.label }}</th>
            <td class="dataset-details">
                {{ h.get_fao_datatype(pkg_dict[field.name]) }}
            </td>
          </tr>
        {% elif field.name == 'fao_m49_regions' %}
            {% for region in h.load_json(pkg_dict[field.name] or "{}") %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("Region")}}</th>
                <td class="dataset-details">
                    {{ h.get_fao_m49_region(region) }} [id: {{ region }}]
                </td>
              </tr>
            {% endfor %}
        
        {% elif field.name == 'fao_agrovoc' %}
            {% for term in h.load_json(pkg_dict[field.name] or "{}") %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("AGROVOC term")}}</th>
                <td class="dataset-details">
                    {{ h.get_fao_agrovoc_term(term) }} [id: {{ term }}]
                </td>
              </tr>
            {% endfor %}
        



        {% endif %}
      {% endfor %}


     </tbody>
   </table>

</section>
