{% import 'macros/faociok_form_macros.html' as dform %}

{% for field in schema_fields %}
            {% if field.element == 'select' %}
            
                  {% set options = h.get_faociok_vocabulary_items(field.vocabulary_name) or field.options %}
                  {{ dform.select(field.name,
                                  label=field.label,
                                  options=options,
                                  selected=data[field.name],
                                  error=errors[field.name],
                                  is_required=field.is_required) }}

            {% endif %}

{% endfor %}
