<div role="main">
  <div class="container">
    {% snippet 'home/snippets/search.html' %}
  </div>

  <div class="container">
    <div class="row">
      <div class="span12 col1">
        {% snippet 'home/snippets/data_types.html' %}
      </div>

	  <div class="span6 col2">
        {% snippet 'home/snippets/categories.html' %}
      </div>
      <div class="span6 col2">
        {% snippet 'home/snippets/organizations.html' %}
      </div>

      <div class="span12 col1">
        {% snippet 'home/snippets/locations.html' %}
      </div>
    </div>
  </div>
  
</div>
