<div role="main">
  <div class="container">
    {% snippet 'home/snippets/search.html' %}
  </div>
  <div class="container">
    <div class="row-fluid">
      <div class="col-xs-12">
        {% snippet 'home/snippets/data_types.html' %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-12 col-sm-6">
        {% snippet 'home/snippets/categories.html' %}
      </div>
      <div class="col-xs-12 col-sm-6">
        {% snippet 'home/snippets/organizations.html' %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-12">
        {% snippet 'home/snippets/locations.html' %}
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-xs-12">
        {% snippet 'home/snippets/static_links.html' %}
      </div>
    </div>
  </div>
</div>
  